#movie_text span {
  margin-right: 5px;
}

.first_letter_of_word {
  margin-left: 17px;
}

#movie_text {
  justify-content: center;
  margin-bottom: 20px;
}

.btn-success,
.btn-success:hover,
.btn-success:focus,
.btn-success:active {
  background-color: white;
  border-color: white;
  box-shadow: none;
}

.btn-success:not(:disabled):not(.disabled):active:focus {
  background-color: white;
  border-color: white;
  box-shadow: none;
}

.space {
  margin-left: 20px;
  margin-right: 20px;
}
